body {
  font-family: Quicksand;
}

a{
    text-decoration: none;
}

#newsfeed{
    padding: 0;
    border-radius: 5px;
}
.login{
    border-radius: 60px;
}
#login {
    position: fixed;
    top:20px;
    right: 20px;
}
#logo{
    position: fixed;
    top: 10px;
    left: 40px;
}

.sidenav{
    float:left;
    width: 240px;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 42px;
    background: #e0bbe4;
    overflow-x: hidden;
    padding: 12px 0;
    font-weight: small;
    border-radius: 10px;
}

.sidenav a{
    padding: 6px 10px 12px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a: hover{
    color: white;
    text-decoration: inherit;
}

.industry{
    text-align: center;
    float: none;
    padding: 100px 40px;
}
.main{
    float: right;
    margin-right: 10px;
    font-size: 28px;
    padding: 100px 40px;
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.column{
    float:right;
    width:33.33%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.column2{
    float: left;
    width: 20%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Dropdown Button */
.dropbtn {
  color: #d291bc;
background-color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
    min-width: 245px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    align-content: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 245px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  align-content: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {align-content: center;
    display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: none;}

#actionform{
    float:left;
}

.submit{
    font-family: Quicksand;
    background-color: #d291bc;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    
}
